body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

*, *:before, *:after {
    /* désactiver la sélection */
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
    /* utiliser le modèle de boîtes par bordure */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

/**
 * Animations
 */

/** chargement **/
@-moz-keyframes spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
