/**
 * Sélection du thème
 *
 * Écran permettant de choisir entre quatre thèmes proposés pour
 * la série de 4 questions à venir
 */

.themechooser ul {
    display: flex;
    list-style: none;
    
    height: 100%;
    width: 100%;
    
    margin: 0;
    padding: 0;
    
    flex-wrap: wrap;
}

/** images de fond **/
.themechooser ul li {
    position: relative;
    
    width: 50%;
    height: 50%;
    
    margin: 0;
    padding: 0;
    
    font-size: 2rem;
    background-size: cover;
}

.themechooser li.music {
    background-image: url('../images/themes/music.jpg');
}

.themechooser li.geography {
    background-image: url('../images/themes/geography.jpg');
}

.themechooser li.history {
    background-image: url('../images/themes/history.jpg');
}

.themechooser li.astronomy {
    background-image: url('../images/themes/astronomy.jpg');
}

/* assombrir l'image de 35% */
.themechooser li:before {
    display: inline-block;
    position: absolute;
    
    left: 0;
    width: 100%;
    
    content: '';
    background: rgba(0, 0, 0, 0.35);
    
    z-index: 1;
    top: 0;
    height: 100%;
}

/** titre **/
.themechooser li span {
    display: inline-block;
    position: absolute;
    
    left: 0;
    width: 100%;
    
    color: white;    
    text-align: center;
    
    z-index: 2;
    top: 50%;
    
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

/** animation d'apparition **/
@-webkit-keyframes appear {
    0% {
        -webkit-transform: scale(0);
    }
    
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes appear {
    0% {
        transform: scale(0);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes appear {
    0% {
        transform: scale(0);
    }
    
    100% {
        transform: scale(1);
    }
}

.themechooser li {
    -webkit-transform: scale(0);
    transform: scale(0);
    
    -webkit-animation: appear 0.3s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    -moz-animation: appear 0.3s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: appear 0.3s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

/* chorégraphie */
.themechooser li:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.themechooser li:nth-child(3) {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.themechooser li:nth-child(4) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
