
/**
 * Table des matières
 *
 * I. Page d'accueil
 */

/**
 * I. Page d'accueil
 *
 * Écran d'accueil permettant de présenter
 * l'application, de s'y connecter, de s'inscrire
 */

#main.index {
    display: table;
    width: 300px;
    margin: auto;
}

#main.index .wrapper {
    display: table-cell;
    
    vertical-align: middle;
    text-align: center;
}

#main.index button, #main.index input {
    display: inline-block;
    width: 100%;
}

#main.index img.title-illustrate {
    vertical-align: top;
    border-radius: 100%;
    margin-right: 3%;
}
